.all-pokemon-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(6, 130px);
  grid-auto-rows: minmax(fit-content, 130px);
}

.missing-pokemon {
  mix-blend-mode: luminosity;
}

.wrapper {
  padding: 1rem;
  background-color: white;
  width: fit-content;
  margin: auto;
}

p {
  text-align: center;
  margin: 0;
}

footer {
  margin-top: 0;
}

.grid-item {
 
}

.pokedex-image {
  display: block;
  margin: auto;
}

.dex-number {
  font-size: 14px;
}

@media screen and (width < 68rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(5, 130px);
  }  
}

@media screen and (width < 57rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(4, 130px);
  }

  header {
    display: unset;
    text-align: center;
  }

  nav {
    justify-content: center;
  }
  
  ul {
    display: unset;
  }

  li {
    margin: 0.7rem 0;
  }
}

@media screen and (width < 46rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(3, 130px);  
  }  
}

@media screen and (width < 35rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(3, 80px);  
  }

  p {
    font-size: 16px;
  }

  .dex-number {
    font-size: 12px;
  }

  .pokedex-image {
    width: 75px;
  }
}

