.wrapper > h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}

#total-span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

.all-pokemon-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(6, 130px);
  grid-auto-rows: minmax(fit-content, 130px);
  align-items: center;
}

.missing-pokemon {
  mix-blend-mode: luminosity;
}

.grid-item {
  /* the tooltip hover is absolute, setting the div to relative will make the absolute pop up position
  itself in relation to the div instead of the body */
  position: relative;
}

.tool-tip-text {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  font-size: 12px;
  max-width: 10ch;
  position: absolute;
  z-index: 1;
  left: -32%;
  top: -25%;
  opacity: 0;
  transition: 0.3s;
}

.purple-tool-tip-name {
  color: hsl(300, 100%, 45%);
}

.grid-item:hover .tool-tip-text {
  opacity: 1;
}

.tool-tip-time {
  color: hsl(218, 53%, 70%);
}

.tool-tip-rarity {
  color: #ffcc00;
}

.wrapper {
  padding: 1rem;
  background-color: white;
  width: fit-content;
  margin: auto;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

p {
  text-align: center;
  margin: 0;
}

footer {
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.pokedex-image {
  display: block;
  margin: 0 auto 1rem auto;
}

.dex-number {
  font-size: 14px;
}

@media screen and (width < 68rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(5, 130px);
  }  
}

@media screen and (width < 57rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(4, 130px);
  }
}

@media screen and (width < 46rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(3, 130px);  
  }  
}

@media screen and (width < 35rem) {
  .all-pokemon-grid {
    grid-template-columns: repeat(1, 130px);
    justify-content: center;
  }

  .wrapper {
    max-width: fit-content;
  }

  h1 {
    font-size: 24px;
  }

  /* p {
    font-size: 16px;
  }

  .dex-number {
    font-size: 12px;
  }

  .pokedex-image {
    width: 75px;
  } */
}

.shine {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 130px;
  background-size: 130px;
	color: rgba(0, 0, 240, 0.5);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-animation-name: shine;
  animation-name: shine;
	-webkit-animation-duration: 5s;
  animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
	0%, 10% {
		background-position: -130px;
	}
	20% {
		background-position: -100px;
	}
	90% {
		background-position: 130px;
	}
	100% {
		background-position: -130px;
	}
}

@keyframes shine {
  0%, 10% {
		background-position: -130px;
	}
	20% {
		background-position: -100px;
	}
	90% {
		background-position: 130px;
	}
	100% {
		background-position: -130px;
	}  
}