article {
  display: flex;

  gap: 1rem;
}

article h3 {
  margin: 12px 0;
}

.reference-img {
  display: block;
  width: 35px;
  height: 35px;
  margin-top: 12px;
}

.item-value {
  color: green;
}

.item-group {
  padding: 1rem;
}

.expand-collapse {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 1rem;
  margin: 5rem auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  max-width: fit-content;
  margin: 5rem auto 0 auto;
  border: solid 3px black;
  border-radius: 1rem;
}

@media screen and (width < 60rem) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width < 40rem) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}