/* sticky footer code */
body {
  display: flex;
  min-height: 100vh;
  
  flex-direction: column;
}

header {
  display: flex;

  justify-content: space-evenly;

  background-color: #000;
  color: #fff;
}

nav {
  display: flex;
  padding: 1rem;
}

ul {
  display: flex;

  gap: 3rem;
  align-items: center;
}

ul > div {
  display: flex;
  align-items: center;
}

ul img {
  display: block;
  width: 22px;
}

a {
  padding: 1rem;

  color: #fff;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #ffcc00;
}

header h2 {
  margin: 0;
  padding: 1rem;
}

footer p {
  text-align: center;
}

/* sticky footer code */
main {
  flex: 1 0 auto;
}

/* sticky footer code/styling */
footer {
  flex-shrink: 0;

  margin-top: 5rem;

  background-color: #000;
  color: #fff;
}

@media screen and (width < 57rem) {
  header {
    display: unset;
    text-align: center;
  }

  nav {
    justify-content: center;
  }
  
  ul {
    display: unset;
  }

  li {
    margin: 0.7rem 0;
  }
}