section h2 {
  text-align: center;
}

h4 {
  text-align: center;
  margin: 1.5rem auto 0 auto;
  background-color: black;
  border-radius: 1rem;
  width: fit-content;
  color: white;
  padding: .5rem;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.left-side {
  width: 500px;
  height: 600px;
  background-color: aliceblue;
  /* margin-left: 2rem; */
  margin-top: 2rem;  
  border: 3px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.currency-grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 3.5rem;
  row-gap: 3.5rem;
  justify-content: center;
  justify-items: center;
  grid-auto-rows: minmax(80px, 90px);
  margin-top: 4rem;
}

.container-heading {
  margin-top: 0;
}

.prof-oak-img {
  height: 200px;
  display: block;
  margin: 3rem auto 3rem auto;
}

.shop-info {
  max-width: 56ch;
  text-align: center;
}

.shop-content {
  display: none;
}














.currency-item {
  width: 80px;
  height: 80px;
  cursor: pointer;  
}

.disable-click {
  pointer-events: none;
}

/* div p {
  margin: 0 0 0 360px;
} */

dialog {
  text-align: center;
}

.modal-heading {
  font-size: 32px;
}

.modals::backdrop {
  background: black;
  opacity: 0.6;
}

.modals[open] {
  animation: slide-in 170ms ease;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}